<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
          <tr>
            <th>Category Name</th>
            <th>Product Count</th>
          </tr>
        </thead>
        <tbody>
          {% for category in categories %}
          <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.products.count }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>      
</body>
</html>